---
sudo: false

os: linux

language: go

go:
  - 1.13.x

install:
  - go mod download

before_script:
  - go version
  - export GOBIN="$GOPATH/bin"
  - go get golang.org/x/tools/cmd/goimports
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.16.0 && golangci-lint --version

script:
  - ./hack/go.sh ci-checks

deploy:
  - provider: script
    script: ./hack/go.sh ci-checks
    on:
      branch: master

